<!DOCTYPE html>
<html lang="en" ng-app="myAPP">
<head>
    <meta charset="UTF-8">

    <script type="text/javascript" src="/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/angularjs/angular.js"></script>
    <script type="text/javascript" src="/angular-route/angular-route.js"></script>

    <script type="text/javascript" src="/app/events/eventsDirectives.js"></script>
    <script type="text/javascript" src="/app/main.js"></script>

    <link type="text/css" rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="/css/main.css"/>
    <title>Colibri Service Manager</title>
</head>
<body>

    <div ng-view></div>

</body>
</html>