<!DOCTYPE html>
<html lang="en" ng-app="myAPP">
<head>
    <meta charset="UTF-8">

    <script type="text/javascript" src="/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/angularjs/angular.min.js"></script>
    <script type="text/javascript" src="/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="/ngStorage/ngStorage.min.js"></script>
    <script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/angular-tooltips/src/js/angular-tooltips.js"></script>

    <script type="text/javascript" src="/app/main.js"></script>
    <script type="text/javascript" src="/app/shared/alerts/AlertsDirectives.js"></script>
    <script type="text/javascript" src="/app/shared/alerts/AlertsService.js"></script>
    <script type="text/javascript" src="/app/shared/navigation/NavigationDirectives.js"></script>
    <script type="text/javascript" src="/app/events/EventController.js"></script>
    <script type="text/javascript" src="/app/events/EventDirectives.js"></script>
    <script type="text/javascript" src="/app/terminals/TerminalController.js"></script>
    <script type="text/javascript" src="/app/login/LoginController.js"></script>

    <link type="text/css" rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="/app/main.css"/>
    <link type="text/css" rel="stylesheet" href="/angular-tooltips/src/css/angular-tooltips.css" />

    <title>Colibri Service Manager</title>
</head>
<body>

<div ng-view></div>

</body>
</html>