


.calendar
{
    position: absolute;
    width: 50%;
    overflow-x: hidden;
    overflow-y: auto;
}

table
{
    border-spacing: 0;
    border-color: gray;
}

td
{
    margin: 0px;
    min-width: 50px;
    height: 24px;
}
