

<navigation-bar></navigation-bar>
<alerts-display></alerts-display>

<div class="eventCalendar">
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="pull-left">
                <h2>{{terminal.terminalName}}</h2>
            </div>
        </div>
        <div class="col-md-8">
            <div class="pull-right">
                <button type="button" class="btn btn-primary navbar-btn"  ng-click="updateEvents()">Update</button>
                <button type="button" class="btn btn-primary navbar-btn" data-toggle="modal" data-target="#eventModal" ng-click="changeButton()">Create Event</button>
            </div>
        </div>
    </div>
</div>

<div class="container" ng-show="calendarLoaded">
    <div class="calendar">
        <div ng-repeat="event in events">
            <event event="event"></event>
        </div>
        <table-gen></table-gen>
    </div>
</div>

<!-- Create Event and Edit modal -->
<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="eventModalLabel">Create New Event</h4>
            </div>
            <form name="eventForm" class="css-form" novalidate>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="inputEventName" class="col-sm-2 control-label">Service Name</label>
                        <div class="col-sm-10">
                            <input type="text" name="eventName" ng-model="newEvent.eventName" maxlength="20" class="form-control" id="inputEventName" placeholder="Service Name" required>
                            <div class="formError" ng-show="eventForm.eventName.$invalid && eventForm.eventName.$dirty || eventForm.$submitted">
                                <span class="error" ng-show="eventForm.eventName.$error.required">Event Name Required</span>
                                <span class="error" ng-show="eventForm.eventName.$error.maxLength">Event Name too long</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEventArrivingTime" class="col-sm-2 control-label">Arrival Time:</label>
                        <div class="col-sm-10">
                            <input type="text" name="eventArrivingTime" ng-model="newEvent.eventArrivingTime" ng-pattern="/[0-9]?[0-9]:[0-9][0-9]/" maxlength="5" class="form-control" id="inputEventArrivingTime" placeholder="Arriving Time" required>
                            <div class="formError" ng-show="eventForm.eventArrivingTime.$invalid && eventForm.eventArrivingTime.$dirty || eventForm.$submitted">
                                <span class="error" ng-show="eventForm.eventArrivingTime.$error.required">Arriving Time Required</span>
                                <span class="error" ng-show="eventForm.eventArrivingTime.$error.pattern || eventForm.eventArrivingTime.$error.maxLength ">Invalid Arriving Time</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="eventDuration" class="col-sm-2 control-label">Duration:</label>
                        <div class="col-sm-10">
                            <input type="number" name="eventDuration" ng-model="newEvent.eventDuration" class="form-control" id="eventDuration" placeholder="Duration Hours" required>
                            <div class="formError" ng-show="eventForm.eventDuration.$invalid && eventForm.eventDuration.$dirty || eventForm.$submitted">
                                <span class="error" ng-show="eventForm.eventDuration.$error.required">Duration Required</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEventStart" class="col-sm-2 control-label">Berth Start:</label>
                        <div class="col-sm-10">
                            <input type="number" name="eventStart" ng-model="newEvent.eventStart" class="form-control" id="inputEventStart" placeholder="Berth Start" required>
                            <div class="formError" ng-show="eventForm.eventStart.$invalid && eventForm.eventStart.$dirty || eventForm.$submitted">
                                <span class="error" ng-show="eventForm.eventStart.$error.required">Event Start Required</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEventLength" class="col-sm-2 control-label">Length:</label>
                        <div class="col-sm-10">
                            <input type="number" name="eventLength" ng-model="newEvent.eventLength" class="form-control" id="inputEventLength" placeholder="Length" required>
                            <div class="formError" ng-show="eventForm.eventLength.$invalid && eventForm.eventLength.$dirty || eventForm.$submitted">
                                <span class="error" ng-show="eventForm.eventLength.$error.required">Length Required</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEventDay" class="col-sm-2 control-label">Day:</label>
                        <div class="col-sm-10">
                            <select id="inputEventDay" name="eventDay" ng-model="newEvent.eventDay" class="form-control" required>
                                <option value="{{day.dayId}}" ng-repeat="day in days">{{day.dayName}}</option>
                            </select>
                            <div class="formError" ng-show="eventForm.eventDay.$invalid && eventForm.eventDay.$dirty || eventForm.$submitted">
                            <span class="error" ng-show="eventForm.eventDay.$error.required">Please select a day</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputBerthId" class="col-sm-2 control-label">Berth:</label>
                        <div class="col-sm-10">
                            <select id="inputBerthId" name="berthId" ng-model="newEvent.berthId" class="form-control" required>
                                <option ng-repeat="berth in terminal.mainBerths" value="{{berth.berthId}}">{{berth.berthName}}</option>
                            </select>
                            <div class="formError" ng-show="eventForm.berthId.$invalid && eventForm.berthId.$dirty || eventForm.$submitted">
                                <span class="error" ng-show="eventForm.berthId.$error.required">Please select a Berth</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" ng-hide="editable" ng-click="addNewEvent(newEvent)">Create Event</button>
                <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-show="editable" ng-click="editEvent(newEvent)">Edit Event</button>
            </div>
            </form>
        </div>
    </div>
</div>

<!-- Edit Crane Modal -->
<div class="modal fade" id="craneModal" tabindex="-1" role="dialog" aria-labelledby="craneModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="craneModalLabel">Edit Crane - {{newEvent.eventName}}</h4>
            </div>
            <div class="modal-body">
                <div class="row" ng-repeat="crane in cranesList">
                    <div class="col-md-1">
                        <input type="checkbox" ng-model="crane.value" />
                    </div>
                    <div class="col-md-1">
                        <span>{{crane.craneName}}</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="editCranes(cranesList)">Edit Cranes</button>
            </div>
        </div>
    </div>
</div>
</div>